/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav ul li a {
	text-decoration: none;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.ButtonContainer {
	text-align: center;
	margin: 4em 0rem;
}

.ButtonContainer button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-family: 'Syne';
	margin: 0 10px;
	padding: 10px;
	border-radius: 25px;
	font-weight: 700;
	color: #1D6154;
	border: 1px solid #1D6154;
	font-size: 20px;
}

.ButtonContainer button.active, .ButtonContainer button:hover {
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2rem 0;
}

.footer {
	width: 100vw;
	margin-left: calc(-1 * ((100vw - 100%) / 2));
}

/*Style pour la modale*/

#modal1 {
	display: none;
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}

.modal-content {
	overflow: auto;
	height: 700px;
	background-color: #fff;
	padding: 20px;
	color: black;
	border-radius: 25px;
	border: 1px solid #888;
	width: 45%;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
}

.titre {
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

.js-modal {
	text-decoration: none;
    padding: 5px;
    font-size: 20px;
    color: black;
}

.fa-pen-to-square {
	color: black;
	font-size: 20px;
	padding-left: 20px;
	margin: 5px 0px 0px 20px;

}

.modal-content h2 {
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	font-size: 2.5rem;
	color: black;
	margin-bottom: 5rem;
}

.fa-xmark {
	display: flex;
	justify-content: flex-end;
	color: black;
	font-size: 25px;
	padding-left: 20px;
	margin: -20px 20px 0px 0px;
}

.modalcontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: auto;
}

.modalcontainer img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.fa-trash-can {
	position: absolute;
	color: white;
	background-color: black;
	font-size: 18px;
	padding: 5px;
	top: 2px;
	right: 2px;
}

.modalehr {
	border: none;
	margin-top: 4rem;
  	color: #B3B3B3;
  	width: 60%;
  	height: 0px;
  	border: 1px solid #B3B3B3;
}

.ajoutphoto {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 4rem 0rem 2rem 0rem;
}

.modalcontainer figure {
	position: relative;
	width: 18%;
    min-width: 100px;
	height: 130px;
	margin-bottom: 2rem;
}

#ajout {
	display: none;
}

.modale2 {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}


.fa-arrow-left{
	display: flex;
	justify-content: flex-start;
	color: black;
	font-size: 25px;
	padding-left: 20px;
	margin: 20px 20px 0px 0px;
}

.js-back-to-modal1 {
	text-decoration: none;
}

.ajoutphoto a {
	text-decoration: none;
	padding: 15px;
	font-size: 20px;
	font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    width: 300px;
    text-align: center;
    border-radius: 60px;
}

.banner {
	width: 60%;
	height: 280px;
	margin: auto;
	background-color: #E8F1F6;
}

.fa-image {
	display: flex;
	justify-content: center;
	color: #B9C5CC;
	font-size: 8rem;
	padding-top: 30px;
}

.banner form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.banner form input {
	display: none;
}

.banner form label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 50px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #306685;
	background-color: #CBD6DC;
	text-align: center;
	border-radius: 60px;
	margin-top: 10px;
}

.banner form p {
	margin: 20px 0px 0px 0px;
}

.titlecat {
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	font-size: 20px;
	width: 60%;
	color: #3D3D3D;
	margin: 20px auto;
}

.titlecat input {
	width: 100%;
	height: 50px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #3D3D3D;
	margin-top: 15px;
	border: none;
	box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
}

.Valid {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px auto;
	text-decoration: none;
    padding: 15px;
    font-size: 20px;
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    width: 300px;
    text-align: center;
	border: 1px solid;
    border-radius: 60px;
}

.Imageprev {
	display: none;
	width: 300px;
	height: 280px;
	margin: auto;
	object-fit: cover;
}

.prevarea {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: 280px;
	margin: auto;
	background-color: #E8F1F6;
}

.titlecat select{
	width: 101%;
	height: 55px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #3D3D3D;
	margin-top: 15px;
	border: none;
	box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
}

.Barrebl {
	display: none;
}

.modifier {
	display: none;
}

.fa-pen-to-square {
	display: none;
}

.Blackblock {
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	width: 100vw;
	margin-left: calc(-1 * ((100vw - 100%) / 2));
	height: 70px;
}

.Buttonedition {
	display: flex;
	align-items: center;
	color: white;
	background-color: black;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	font-size: 20px;
}

.Buttonedition i {
	padding-right: 10px;
	color: white;
}